version: "3.7"
services:

  vehicleum-database:
    image: postgres:10
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_USER=root
    ports:
      - "5432:5432"
    volumes:
      - ./init_db.sql:/docker-entrypoint-initdb.d/init.sql
      - vehicleum-database:/var/lib/postgresql/data
    profiles: ["pi"]

  vehicleum-rabbit:
    image: rabbitmq:3.9-management-alpine
    environment:
      - RABBITMQ_DEFAULT_USER=root
      - RABBITMQ_DEFAULT_PASS=root
    ports:
      - "5672:5672"
      - "15672:15672"
    profiles: ["pi"]

  vehicleum-keycloak:
    image: jboss/keycloak:9.0.3
    container_name: "keycloak"
    volumes:
      - vehicleum-keycloak:/realms
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
    ports:
      - "9091:8080"
      - "9092:8443"
    profiles: ["desk"]

  vehicleum-keycloak-pi:
    image: quay.io/keycloak/keycloak:17.0
    container_name: "keycloak-pi"
    volumes:
      - vehicleum-keycloak:/realms
    environment:
      - KEYCLOAK_ADMIN=root
      - KEYCLOAK_ADMIN_PASSWORD=root
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
    ports:
      - "9091:8080"
      - "9092:8443"
    command: "start-dev"
    profiles: ["pi"]


volumes:
  vehicleum-database:
  vehicleum-keycloak:
