version: "3.7"
services:

  vehicleum-database:
    image: postgres:10
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_USER=root
    ports:
      - "5432:5432"
    volumes:
      - ./init_db.sql:/docker-entrypoint-initdb.d/init.sql
      - vehicleum-database:/var/lib/postgresql/data

  vehicleum-rabbit:
    image: rabbitmq:3.9-management-alpine
    environment:
      - RABBITMQ_DEFAULT_USER=root
      - RABBITMQ_DEFAULT_PASS=root
    ports:
      - "5672:5672"
      - "15672:15672"

#  tests-keycloak:
#    image: jboss/keycloak:9.0.3
#    container_name: "keycloak"
#    volumes:
#      - tests-keycloak:/realms
#    environment:
#      - KEYCLOAK_USER=admin
#      - KEYCLOAK_PASSWORD=admin
#    ports:
#      - "9091:8080"


volumes:
  vehicleum-database:
